.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.ant-form-text  {
    width: 40%;
    position: absolute;
    bottom: 0;
    margin-left: 10%;
}
